.mainBody{

    background-image: url('../Images/background5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #333;

    font-family: 'Arial';

}

.wordsleBody{
    background-image: url('../Images/background5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #333;

    font-family: 'Arial';
}



.navbar{
    background: #333
}



.navbar-toggler{
    background-color: #333;
    color: rgb(34, 208, 187);
    outline-color: rgb(34, 208, 187);
    
}



.navbar-toggler-icon{
    filter: sepia(200%) saturate(800%) brightness(800%) hue-rotate(100deg);
}



.nav-button{
    color: white;
    background-color: #22d0bb;
    border: #333;
}



.readMoreButton{
    color: white;
    background-color: #22d0bb;
    border: #333;
    width: 75%;
}



.imgLink{
    height: 7.5vh;
}



.mainCardRow{
    width: fit-content;
}



.cardTitle{
    width: 100%;
}



.cardImg{
    width: 100%;
}



.cardBody{
    margin: 2%;
}



.tempCard{

    background: rgba( 187, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 34, 208, 187, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;
    color: white;

    text-align: center;
    margin: 5vh;
    width: 80%;
}



.wordsleCard{

    background: rgba( 187, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 34, 208, 187, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 5px;
    color: white;

    text-align: center;
    margin: 2.5%;
    margin-top: 2.5vh;
    width: 90%;
}



.wordsleLetter{
    width: 100%;
    font-size: 500%;
}



.wordsleMainBody{
    width: 65%;
}



#mainLogo{
    width: 30vh;
}






@media only screen and (max-width: 1400px) {
    .wordsleLetter{
        width: 100%;
        font-size: 400%;
    }


}



@media only screen and (max-width: 1200px) {
    .wordsleLetter{
        width: 100%;
        font-size: 325%;
    }


}



@media only screen and (max-width: 1000px) {
    .wordsleLetter{
        width: 100%;
        font-size: 250%;
    }

    .wordsleMainBody{
        width: 65%;
    }   

    .wordsleCard{
        margin: 2.5%;
        margin-top: 2.5vh;
    }   
    
}



@media only screen and (max-width: 800px) {
    .wordsleLetter{
        width: 100%;
        font-size: 175%;
    }

    .wordsleMainBody{
        width: 80%;
    }

    .wordsleCard{
        margin: 1.5%;
        margin-top: 4.5vh;
    }

}



@media only screen and (max-width: 6000x) {
    .wordsleLetter{
        width: 100%;
        font-size: 125%;
    }

    .wordsleMainBody{
        width: 100%;
    }

    .wordsleCard{
        margin: 0.5%;
        margin-top: 6.5vh;
    }

}