body{

    background-image: url('../Images/background6.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #333;

    font-family: 'Arial';

}



.navbar{
    background: #333
}



.navbar-toggler{
    background-color: #333;
    color: rgb(34, 208, 187);
    outline-color: rgb(34, 208, 187);
    
}



.navbar-toggler-icon{
    filter: sepia(200%) saturate(800%) brightness(800%) hue-rotate(100deg);
}



.nav-button{
    color: white;
    background-color: #22d0bb;
    border: #333;
}



.imgLink{
    height: 7.5vh;
}



#mainLogo{
    width: 30vh;
}



#tempCard{

    background: rgba( 187, 255, 255, 0.2 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 20px;

    text-align: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: fit-content;
}



#tempMessage{
    margin-top: 6vh;
    color: rgb(255, 255, 255);
}



#constructionLogo{
    width: 20vh;
}